<mat-sidenav-container class="sidenav-container">

    <mat-sidenav #drawer class="sidenav" fixedInViewPort 
        [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="true">

        <mat-toolbar>Menu</mat-toolbar>

        <mat-nav-list>

            <a mat-list-item routerLink="/" (click)="drawer.close()">Home</a>
            <a mat-list-item routerLink="/login" (click)="drawer.close()">Login</a>
            <a mat-list-item routerLink="/kanban" (click)="drawer.close()">Kanban Demo</a>
            <a mat-list-item routerLink="/customers" (click)="drawer.close()">SSR Demo</a>

        </mat-nav-list>

    </mat-sidenav>


    <mat-sidenav-content>
        
        <mat-toolbar>
            <button mat-icon-button type="button" aria-label="Toggle Sidenav" 
            (click)="drawer.toggle()" *ngIf="isHandset$ | async">

            <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
            </button>

            <span class="logo" routerLink="/">🔥 Angular Firestarter</span>

            <span class="fill-space"></span>

            <div *ngIf="!(isHandset$ | async)">
                <a mat-button routerLink="/kanban">🍱 Kanban Demo</a>
                <a mat-button routerLink="/customers">⚡ SSR Demo</a>
                <a mat-button routerLink="/login">🔑 Login</a>

            </div>

            <button mat-icon-button [mat-menu-trigger-for]="menu" aria-label="Example icon button with a menu">
                <mat-icon>more_vert</mat-icon>
            </button>

            <mat-menu #menu="matMenu">
                <a mat-menu-item href="https://firship.page.link/slack">
                    <span>💬 Chat on Slack</span>
                </a>

                <a mat-menu-item href="https://github.com/codediodeio/angular-firestarter">
                    <span>💾 Code in Github</span>
                </a>

                <a mat-menu-item href="https://fireship.io/courses/angular">
                    <span>🔥 Full course on Fireship</span>
                </a>

                <a mat-menu-item href="https://youtube.com/channel/SomethingENDatTheURL">
                    <span>📺 Watch on Youtube</span>
                </a>

            </mat-menu>

        </mat-toolbar>

        <ng-content>

        </ng-content>

    </mat-sidenav-content>

</mat-sidenav-container>
