#centerGoogle{
    margin: 0 auto;
    width: 200px;
    height: 50px;
}
#centerLogin{
    position: relative;
    margin-left: 565px;
    margin-top: 10px;
}
#centerLogout{
    position: relative;
    margin-left: 475px;
    margin-top: 10px;
}

#centerOR{
    text-align: center;
    margin-top: 13px;
}