<div *ngIf="!(afAuth.authState | async)">

    <h1 id="centerLogin">Login</h1>

   <button mat-raised-button appGoogleSignin id="centerGoogle">
        <img src="../../../assets/Google_Logo.png"> Login with Google
    </button> 

    <h4 id="centerOR">OR</h4>

    <app-email-login></app-email-login>

</div>

<div *ngIf="afAuth.authState | async as user" class="logout">

    <p id="centerLogout">Logged in as <strong>{{ user.email }}</strong></p>
    <button mat-stroked-button (click)="afAuth.signOut()" class="logoutButton">Logout</button>

</div>
    
