mat-card{
    position: relative;
    width: 400px;
    height: 300px;
    margin-left:auto;
    margin-right: auto;
    align-items: center;
}

h3{
    text-align: center;
}

.center{
    position: relative;
    left: 33.5%;
    margin-bottom: 10px;
}